<ion-view view-title="Clientes">
  
  <ion-nav-bar align-title="center">
    <ion-nav-back-button class="button-positive"></ion-nav-back-button>
  </ion-nav-bar>

  <ion-nav-buttons side="right">
    <a class="button button-icon icon ion-ios-search-strong button-positive-color" href="#/search"></a>
  </ion-nav-buttons>

  <ion-content>
   <div class="spacer"></div>
    
   <div class="list">

    <a class="item item-client" ng-repeat="item in clientes.page[clientes.current_page]" href="#/clientes/{{ item.ClienteCodigo }}">
      <span class="item-note">#{{ item.ClienteCodigo }}</span>

      <h2 class="u-capitalize u-bold">{{ item.ClienteNombre }}</h2>
      <p class="u-capitalize">{{ item.Departamento }}, {{ item.Municipio }}</p>
    </a>


  </div>
  
  <button class="button button-full button-positive" ng-click="nextPage()">
    Siguiente pagina
    <span class="inline-spinner">
      <ion-spinner icon="ios-small" class="spinner-light"></ion-spinner>
    </span>
  </button>

  </ion-content>
</ion-view>