<ion-view view-title="Acceder">
  <ion-content>
   <div class="spacer"></div>
    <h2 class="title text-center">Entrar</h2>
    <div class="list list-inset">
      <label class="item item-input">
        <input type="email" placeholder="Correo" ng-model="loginmanager.loginData.email" required>
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Clave de usuario"  ng-model="loginmanager.loginData.password" required>
      </label>
      
      <button class="button button-block" ng-click="loginmanager.login()" ng-class="{'button-positive': loginmanager.loginData.email&&loginmanager.loginData.password, 'button-dark': !loginmanager.loginData.email||!loginmanager.loginData.password}">
        Iniciar Sesion
      </button>

    </div>
  </ion-content>
</ion-view>