<ion-view view-title="Clientes">
  
  <ion-nav-bar align-title="center">
    <ion-nav-back-button class="button-positive"></ion-nav-back-button>
  </ion-nav-bar>

  <ion-nav-buttons side="right">
    <a class="button button-icon icon ion-ios-search-strong button-positive-color" href="{{ clientes.routing.search() }}"></a>
  </ion-nav-buttons>

  <ion-content>
   <div class="spacer"></div>
    
   <div class="list">

    <a class="item item-client" ng-repeat="item in clientes.todos[clientes.pagina_actual]" href="{{ clientes.routing.cliente( item.ClienteCodigo ) }}">
      <span class="item-note">#{{ item.ClienteCodigo }}</span>

      <h2 class="u-capitalize u-bold">{{ item.ClienteNombre }}</h2>
      <p class="u-capitalize">{{ item.Departamento }}, {{ item.Municipio }}</p>
    </a>


  </div>
  

  <!-- Paginacion -->
  <div class="row">
    <div class="col">
      <a class="button button-clear button-dark" ng-click="prevPage()" ng-show="clientes.pagina_actual>1">
        <i class="icon ion-chevron-left"></i>
        
        Anterior
     </a>
    </div>
    <div class="col text-right">
      <a class="button button-clear button-dark" ng-click="nextPage()" ng-show="clientes.todos[clientes.pagina_actual].length == 10">
        Siguiente 

        <span class="inline-spinner" ng-show="utils.backgroundLoading">
          <ion-spinner icon="ios-small" class="spinner-dark"></ion-spinner>
        </span>
        <i class="icon ion-chevron-right" ng-show="!utils.backgroundLoading"></i>
     </a>
    </div>
  </div> <!-- final de paginacion -->

  </ion-content>
</ion-view>