<ion-view view-title="Buscar clientes">
  
  <ion-nav-bar align-title="center" class="{{ utils.navBarClass }}">
    <ion-nav-back-button class="button-positive"></ion-nav-back-button>
  </ion-nav-bar>

  <ion-header-bar class="bar bar-subheader item-input-inset {{ utils.navBarClass }}">
     <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon search-placeholder" ng-show="!utils.backgroundLoading"></i>
        <span class="inline-spinner" ng-show="utils.backgroundLoading">
          <ion-spinner icon="ios-small"></ion-spinner>
        </span>
        <input type="search" placeholder="Buscar" ng-model="searchQuery">
      </label>
      <button class="button button-clear button-positive" ng-show="searchQuery.length" ng-click="searchQuery=''; clientes.busqueda.resultados = {};">
        Cancelar
      </button>
  </ion-header-bar>

  <ion-content>
   <div class="spacer"></div>
    
   <div class="list paginable">

    <a class="item item-client" ng-repeat="item in clientes.busqueda.resultados[clientes.busqueda.pagina_actual]" href="{{ clientes.routing.cliente( item.ClienteCodigo ) }}">
      <span class="item-note">#{{ item.ClienteCodigo }}</span>

      <h2 class="u-capitalize u-bold">{{ item.ClienteNombre }}</h2>
      <p class="u-capitalize">{{ item.Departamento }}, {{ item.Municipio }}</p>
    </a>


  </div>
  

  <!-- Paginacion -->
  <div class="row">
    <div class="col">
      <a class="button button-clear button-dark" ng-click="prevPage()" ng-show="clientes.busqueda.pagina_actual>1">
        <i class="icon ion-chevron-left"></i>
        
        Anterior
     </a>
    </div>
    <div class="col text-right">
      <a class="button button-clear button-dark" ng-click="nextPage()" ng-show="clientes.busqueda.resultados[clientes.busqueda.pagina_actual].length == 10">
        Siguiente 

        <span class="inline-spinner" ng-show="backgroundLoading">
          <ion-spinner icon="ios-small" class="spinner-dark"></ion-spinner>
        </span>
        <i class="icon ion-chevron-right" ng-show="!backgroundLoading"></i>
     </a>
    </div>
  </div> <!-- final de paginacion -->

  </ion-content>
</ion-view>