<ion-view view-title="Clientes">
  
  <ion-nav-bar align-title="center">
    <ion-nav-back-button class="button-positive"></ion-nav-back-button>
  </ion-nav-bar>

  <ion-nav-buttons side="right">
    <a class="button button-icon icon ion-ios-search-strong button-positive-color" href="{{ clientes.routing.search() }}"></a>
  </ion-nav-buttons>

  <ion-content>
   <div class="spacer"></div>
    
  <div class="client-details">
    <div class="item item-divider">
      INFORMACION PERSONAL
    </div>

    <div class="row item">
      <div class="col u-bold">Nombres</div>
      <div class="col col-75 u-capitalize">{{ clientes.actual.datos.ClienteNombre }}</div>
    </div>

    <div class="row item">
      <div class="col u-bold">Depto.</div>
      <div class="col col-75 u-capitalize">{{ clientes.actual.datos.Departamento }}</div>
    </div>

    <div class="row item">
      <div class="col u-bold">Municipio</div>
      <div class="col col-75 u-capitalize">{{ clientes.actual.datos.Municipio }}</div>
    </div>
  </div>

  <div class="client-reports">
    
    <div class="list">
      <div class="item item-divider">
        <div class="align-right">
          <a class="button button-clear button-positive button-small button-small-upper" href="{{ clientes.routing.facturas( clientes.actual.datos.ClienteCodigo ) }}">Ver todas</a>
        </div>

        Facturas 
        <div class="inline-spinner" ng-show="utils.backgroundLoading">
          <ion-spinner icon="ios-small"></ion-spinner>
        </div>
      </div>

      <div class="item item-center" ng-show="utils.backgroundLoading">
        <ion-spinner></ion-spinner>
      </div>

      <a class="item item-icon-left item-report" ng-show="!utils.backgroundLoading" ng-repeat="factura in clientes.actual.facturas.ultimas" href="{{ clientes.routing.factura( factura.ClienteCodigo, factura.NumeroFactura ) }}">
        <i class="icon ion-android-list"></i>
        <span class="u-bold">#{{ factura.NumeroFactura }}</span> &nbsp; <span class="client-doubt">${{ factura.Total }}</span>
        <span class="item-note">{{ factura.RangoPeriodo }}</span>
      </a>
    </div>

    
  </div>


  </ion-content>
</ion-view>