<ion-modal-view>
  <ion-header-bar class="bar bar-header" align-title="left">
    <h1 class="title">Sincronizando</h1>

    <button class="button button-outline button-positive" ng-click="utils.continueAsBackground()">
      Pasar a segundo plano
    </button>

  </ion-header-bar>

  <ion-content class="padding">
    
    <div class="spacer"></div>
    
     <div class="list">

     <div class="item item-icon-left">
        <i class="icon ion-android-sync"></i>
        Sincronizando {{ syncManager.syncing.current }} de {{ syncManager.syncing.total }}&hellip;

        <div class="clgprogressbar">
          
          <div class="clgprogress" ng-repeat="item in syncManager.sync_catalogues" 
            ng-show="$index <= (syncManager.syncing.current-1) && item.total_records != '?'" 
            style="width: {{ ( $index == (syncManager.syncing.current-1) ? (((sync_index/item.total_records)*100)/syncManager.sync_catalogues.length) : (100/syncManager.sync_catalogues.length) ) }}%"></div>
          </div>

        </div>
      </div>

     <div class="item item-divider">
        Catalogos
      </div>

      <div class="item item-icon-left item-synceable" ng-repeat="item in syncManager.sync_catalogues" ng-class="{'item-spinner': ($index == (syncManager.syncing.current-1)), 'item-ready': item.synced, 'item-syncing': ($index == (syncManager.syncing.current-1)) }">
        <i class="icon {{ item.icon }}"></i>
        {{ item.label }}
        <span class="item-note">
          {{ item.synced ? 'Sincronizado' : '' }}
          <ion-spinner ng-if="!item.synced&&($index == (syncManager.syncing.current-1))"></ion-spinner>
          {{ !item.synced&&($index != (syncManager.syncing.current-1)) ? 'Esperando...' : '' }}
        </span>

        <div class="syncing-box" ng-show="!item.synced && $index == (syncManager.syncing.current-1) && item.total_records != '?'" data-syncing="{{ sync_index }}/{{ item.total_records }}">
          Sincronizando {{ ((sync_index/item.total_records)*100).toFixed() }}%
          <div class="syncing-box-progressbar">
            <div class="syncing-box-progress" data-total="{{ sync_index }}" style="width: {{ ((sync_index/item.total_records)*100)  }}%"></div>
          </div>
        </div>
      </div>


    </div>

    <div class="spacer"></div>

  </ion-content>
</ion-modal-view>